---
import { getCollection, render } from 'astro:content';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
import { BlogPost } from '@/components/blocks/blog-post';
import { useTranslations } from '@/i18n/translations';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  
  // Only include English posts or posts without lang field
  const englishPosts = posts.filter(post => !post.data.lang || post.data.lang === 'en');
  
  return englishPosts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const currentLocale = 'en';
const t = useTranslations(currentLocale);

const { Content } = await render(post);
---

<DefaultLayout title={post.data.title} description={post.data.description}>
  		<div class="py-28 lg:pt-44 lg:pb-32">
  <BlogPost post={post} locale={currentLocale} client:only='react'>
    <Content />
  </BlogPost>
</div>
</DefaultLayout>
